{% load static %}
<!doctype html>
<html>
    <head>
        <script src="{% static 'restapi/jquery-3.3.1.min.js' %}"></script>
        <script>
        
            var x = document.getElementById("demo");

            function getLocation() {
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
              } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }

            function showPosition(position) {
              $.ajax({
                        method : "get",
                        url : "{% url 'getlatlong' %}",
                        data : {
                            'lat' : position.coords.latitude,
                            'long' :position.coords.longitude,
//                            'csrfmiddlewaretoken' : $("input[name=scrfmiddlewaretoken]").val(),
                        },
                        success : function(data){
                            $("h1").html("You can now use the ui !");  
                        },
                        failure: function(){
                            alert("error")
                        }
                    });
            }
            
            getLocation();
        </script>
        
    </head>
    <body>
        <h1></h1>
<!--
        <div align="center">
        <p style="font-size:20px;">Click the button to use the application.</p>
        <button class="btn" onclick="getLocation();">Allow Position</button>
        </div>
-->
<!--
        <form method="post">
            {% csrf_token %}

        </form>
-->
        
        
    </body>
</html>